.header-logo-first-part,
.footer-logo-first-part {
  color: #2196f3;
}
.header-logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}
.footer-logo {
  margin-bottom: 20px;

  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  text-decoration: none;
}
