.clients {
  background: #ffffff;
}
.clients-title {
  margin-bottom: 50px;
  text-align: center;

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: #212121;
}
.clients-list {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients-icon {
  width: 170px;
  height: 92px;
  padding: 16px 32px;

  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms;
  .clients-link:hover &,
  .clients-link:focus & {
    border: 2px solid #2196f3;
    /* border-color: var(--accent-color); */
    fill: var(--accent-color);
  }
}
