.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
}
.address-list {
  display: flex;
  flex-direction: column;
}
.footer-list {
  font-style: normal;
}
.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
  width: 231px;
}

.footer-address-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-mail {
  margin-bottom: 9px;
}

.footer-mail,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-soc {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.footer-soc-title {
  margin-top: 12px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-soc-list {
  display: flex;
}
.footer-soc-item:not(:first-child) {
  margin-left: 10px;
}
.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: #ffffff;
  }
}

.footer-form {
  margin-left: 93px;
  display: flex;
  flex-direction: column;
}
.footer-form-text {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-label {
  width: 570px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.icon-footer {
  margin-left: 10px;
}
.footer-form-btn {
  max-width: 200px;
  height: 50px;
  padding: 10px 29px;
  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: flex;
  align-items: center;
  text-align: center;
  outline: none;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
}
