.team-section {
  background: #f5f4fa;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  .container {
    display: flex;
  }
}

.tiam-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--h-text-color);
  text-align: center;
}
.team-section-list {
  display: flex;
  margin-left: -30px;
}
.team-card {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  text-align: center;
}
.card-name {
  padding-top: 30px;
  padding-bottom: 30px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-img-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--h-text-color);
}
.team-img-position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.team-soc-list {
  display: flex;
  justify-content: center;
}
.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.team-soc-icoc {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .team-soc-link:hover &,
  .team-soc-link:focus & {
    fill: #ffffff;
  }
}
